body {
	margin: 0;
	padding: 0 0 12px 0;
	font: 12px Segoe UI;
	background: url('bg.bmp');
	text-shadow: 0 1px #fff;
}

* {
	transition: all 0.25s ease-out;
}

div#topBar {
	position: fixed;
	right: 9%;
	background: #fff;
	padding: 1px 4px;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div#topBar > div.link {
	border-right: 1px solid #ddd;
	padding: 0 10px 1px 10px;
	margin: 6px 0 6px 0;
	float: left;
}

div#topBar > div.link:last-child {
	border-right: 0;
}

nav {
	background: rgba(100,130,200,0.60);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav > #topNav {
	height: 27px;
	width: 766px;
	margin: 0 auto;
	padding-top: 78px;
}

nav > #topNav > div.tab {
	float: left;
}

nav > #topNav > div.tab > a {
	padding: 9px 19px 8px 19px;
	margin: 0 8px 0 0;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	background: rgba(255,255,255,0.8);
	border-bottom: none;
}

nav > #topNav > div.tab > a#selected {
	padding-bottom: 9px;
	cursor: default;
	background: #fff;
	margin-top: 0px;
}

nav > #topNav > div.tab > a:hover {
	background: rgba(255,255,255,0.95);
}

div#container {
	margin: 0 auto;
	width: 766px;
}

div#container > div#bottomNav {
	background: #fff;
	border-top: none;
	height: 39px;
	padding: 0 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div#container > div#bottomNav > div.link {
	border-right: 1px solid #ddd;
	float: left;
	padding: 0 16px 3px 14px;
	margin: 11px 3px 1px 0;
}

div#container > div#bottomNav > div.link > a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

div#container > div#bottomNav > div.link > a:hover {
	text-decoration: underline;
}

div#container > div#bottomNav > div.link:last-child {
	border-right: none;
}

div#container > div#bottomNav > div.link > a#selected {
	font-weight: bold;
}

div#container > div#bottomNav > div.link > a#selected:hover {
	text-decoration: none;
}

div#container > div.column {
	float: left;
}

div#container > div#column1 {
	width: 425px;
}

div#container > div#column2 {
	margin-left: 16px;
	width: 325px;
}

div.box {
	margin-top: 16px;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding-bottom: 4px;
	overflow: hidden;
	background: #fff;
}

div.box > p.title {
	font-size: 14px;
	font-family: Verdana;
	margin: 0;
	padding: 12px 18px;
	background: rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

div.box > .content {
	padding: 13px 16px;
	margin: 0;
	line-height: 20px;
}

div.box > ul.content {
	padding-left: 33px;
}

div.box > ol.content {
	padding-left: 33px;
}

div.box > .hidden {
	color: #fff;
	text-shadow: 1px 0 #eee;
}

div.box > .hidden:hover {
	color: #000;
}

div.box > .dark {
	background: #eee;
}

div.box > .content > a {
	text-decoration: none;
}

div.box > .content > a:hover {
	text-decoration: underline;
}

div.box > pre.content {
	word-wrap: break-word;
	font-family: Verdana;
	font-size: 11px;
	line-height: 17px;
}

div.box > .content > img {
	width: 100%;
}

div.box > .content > a > img {
	height: 100px;
	width: 100px;
	overflow: hidden;
	float: left;
	border: 1px solid #ddd;
	margin: 0 15px 5px 0;
}

div.box > .content > a > img:hover {
	height: 150px;
	width: 150px;
}



div.red {			border-color: #f65;	}
div.red > p.title {		background: #f65;	}

div.orange { 		border-color: #fb3; 	}
div.orange > p.title { 	background: #fb3;	}

div.yellow {		border-color: #ff5;	}
div.yellow > p.title {	background: #ff5;	}

div.green {		border-color: #7c7;	}
div.green > p.title {	background: #7c7;	}

div.blue {		border-color: #adf;	}
div.blue > p.title { 		background: #adf;	}

div.purple {		border-color: #b9f;	}
div.purple > p.title { 	background: #b9f;	}

div#container > footer {
	clear: both;
	width: 766px;
	padding-top: 1px;
}

div#container > footer > div.box {
	padding: 14px;
	text-align: center;
	color: #333;
	font-weight: bold;
}